@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font: inherit;
    vertical-align: baseline;
    box-sizing: content-box;
    line-height: 1;
}

body{
    margin: 0px;
    padding: 0px;
    background: #080808 url(images/main-bg.png) repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2B2B2B;
}

.header{
    display: flex;
    width: 900px;
    height: 150px;
    padding: 0px 50px;
}

.container{
    margin: 0px auto;
}

.logo{
    display:block;
    width: 300px;
    line-height: 150px;
    text-transform: uppercase;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 33.8px;
}
.logo-link{
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
}

.menu{
    display:flex;
    justify-content: flex-end;
    width: 600px;
    height: 99px;
    padding: 60px 0 0 0;
}

.menu-item{
    color: #B6B6B6;
}

.item-link{
    display: block;
    padding: 10px 15px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13.3px;
    line-height: 19px;
    height: 19px;
    font-weight: 700;
    color: #B6B6B6;
    
}

.menu-item{
    margin-left: 26px;
}

.active{
    background: #0091E6;
    border-radius: 5px;
    color: #FFFFFF;
}

.item-link:hover{
    text-decoration: underline;
}

.main{
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 70px 50px 50px 50px;
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

.main-sidebar{
    width: 260px;
    padding-top: 10px;
}

.sbox1{
    margin-bottom: 40px;
}

.sbox-title{
    margin-bottom: 30px;
    color: #2B2B2B;
    font-size: 19.5px;
    font-weight: 700;
}

.sbox1-p1{
    line-height: 23.4px;
    margin-bottom: 13px;
}

.sbox1-container{
    padding: 20px 0 20px 0;
    border-top: 1px solid #D4D4D4;
}

.sbox1-first{
    padding: 0 0 20px 0;
    border-top: 0px;
}

.sbox1-button{
    margin-bottom: 13px;
}

.button-link{
    line-height: 23.4px;
    height: 23.4px;
    margin-top: 10px;
    padding: 5px 15px;
    background: #0091E6;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;

}

.sbox2{
    margin-bottom: 50px;
}

.sbox2-p{
    margin-bottom: 13px;
    font-style: italic;
    color: #878787;
    line-height: 23.4px;
}

.sbox2-author{
    padding-top: 20px;
    display: flex;
}

.img-style{
    margin-right: 30px;
    border-radius: 10px;
    border: 5px solid rgba(0,0,0,.1);
}

.author-name{
    display: block;
    padding: 5px 0;
    font-size: 15.6px;
    font-weight: 700;
}

.author-position{
    display: block;
    padding: 5px 0;
    
}

.author-company{
    display: block;
}




.main-content{
    width: 580px;
    height: 200px;
    background-color: yellow;
}




