@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Questrial', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1;
    color: rgba(0,0,0,.6);
}
.header-a{
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
}


.wrapper-header{
    overflow: hidden;
    padding: 32px 0px;
    background: #2F1E28;
}
.header-container{
    text-align: center;
    margin: 0px auto;
    width: 1200px;
}

.header-blogo{
    display: inline-block;
    margin-bottom: 11.2px;
    padding: 11.2px 50.4px;
    font-size: 56px;
}

.menu-items{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0px 32px;
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.active{
    display: inline-block;
    text-decoration: none;
    padding: 18.72px 21.6px;
    font-size: 14.4px;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
    background: #912D56;
    border-radius: 50%;
}

.menu-item{
    display: inline-block;
    text-decoration: none;
    padding: 18.72px 21.6px;
    font-size: 14.4px;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

.wrapper-page{
    overflow: hidden;
    background: #2F1E28;
    padding: 48px 0 96px 0;
    text-align: center;
}

.welocome-container{
    overflow: hidden;
    width: 1000px;
    margin: 0px auto;
    text-align: center;
    color: #7D6774;
}

.welcome-title-container{
    margin-bottom: 48px;
}

.welcome-style{
    font-size: 44.8px;
    color: #C6C2C4;
}

.welcome-des-style{
    font-size: 16px;
    line-height:28.8px;
    color: #7D6774;
}

strong{
    color: #C6C2C4;
    font-weight: bold;
}

.welcome-des-a{
    color: #C6C2C4;
}
.welcome-des-a:hover{
    text-decoration: none;
}
