@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Questrial', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1;
    color: rgba(0,0,0,.6);
}
.header-a{
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
}


.wrapper-header{
    overflow: hidden;
    padding: 32px 0px;
    background: #2F1E28;
}
.header-container{
    text-align: center;
    margin: 0px auto;
    width: 1200px;
}

.header-blogo{
    display: inline-block;
    margin-bottom: 11.2px;
    padding: 11.2px 50.4px;
    font-size: 56px;
}

.menu-items{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0px 32px;
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.active{
    display: inline-block;
    text-decoration: none;
    padding: 18.72px 21.6px;
    font-size: 14.4px;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
    background: #912D56;
    border-radius: 50%;
}

.menu-item{
    display: inline-block;
    text-decoration: none;
    padding: 18.72px 21.6px;
    font-size: 14.4px;
    font-weight: 600;
    text-transform: uppercase;
    outline: 0;
    color: #FFF;
}

.wrapper-page{
    overflow: hidden;
    background: #2F1E28;
    padding: 48px 0 96px 0;
    text-align: center;
}

.welocome-container{
    overflow: hidden;
    width: 1200px;
    padding: 32px 100px 0 100px;
    margin: 0px auto;
    text-align: center;
    color: #7D6774;
}

.welcome-title-container{
    margin-bottom: 48px;
}

.welcome-style{
    font-size: 44.8px;
    color: #C6C2C4;
}

.welcome-des-style{
    font-size: 16px;
    line-height:28.8px;
    color: #7D6774;
}

strong{
    color: #C6C2C4;
    font-weight: bold;
}

.welcome-des-a{
    color: #C6C2C4;
}
.welcome-des-a:hover{
    text-decoration: none;
}

.wrapper-container{
    overflow: hidden;
    padding: 0px 0px 80px 0px;
    background: #FFF;
}

.wrapper-column-container{
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 1200px;
}

.column-first-style{
    width: 320px;
    padding: 80px 40px 80px 40px;
    box-sizing: content-box;
}

.column-title-container{
    text-align: center;
    margin-bottom: 48px;

}

.column-title-style{
    font-size: 25.6px;
    font-weight: 700;
    color: #404040;
}

.column-des-container{
    text-align: center;
    margin-bottom: 16px;
}

.column-des-style{
    font-size: 16px;
    line-height: 28.8px;
    color: rgba(0,0,0,.6);
}

.column-button{
    display: inline-block;
    margin-top: 32px;
    padding: 12.8px 32px;
    background: #2D1E25;
    border-radius: 50%;
    line-height: 28.8px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
}

.column-button-a{
    color: #FFF;
    text-decoration: none;
}

.portfolio-container{
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    width: 1200px;
}

.portfolio-second-style{
    margin-right: 24px;
    width: 282px;
}

.portfolio-box{
    text-align: center;
}

.portfolio-img-container{
    display: block;
    width: 100%;
    margin-bottom: 48px;
}

.img-style{
    border: 1px solid rgba(0,0,0,.1);
}

.portfolio-name{
    display: block;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
}

.portfolio-des{
    font-size: 16px;
    line-height: 28.8px;
    margin-bottom: 16px;
}

.copyright{
    overflow: hidden;
    padding: 80px 0px;
    border-top: 20px solid rgba(255,255,255,0.08);
    text-align: center;
    background: #3E4947;
}

.copyright-des-container{
    letter-spacing: 1px;
    font-size: 14.4px;
    color: rgba(255,255,255,0.6);
}

.copyright-a{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}

.copyright-contact{
    margin: 0;
    padding: 32px 0 0 0;
    list-style: none;
}

.icon-items{
    display: inline-block;
    padding: 0 1.6px;
    font-size: 16px;
}

.fa-twitter:before{
    content: "\f099";
    display: inline-block;
    background: #3A4442;
    font-size: 23px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255,255,255,.5);

}

.fa-facebook:before{
    content: "\f09a";
    display: inline-block;
    background: #3A4442;
    font-size: 23px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255,255,255,.5);

}

.fa-dribbble:before{
    content: "\f17d";
    display: inline-block;
    background: #3A4442;
    font-size: 23px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255,255,255,.5);

}

.fa-tumblr:before{
    content: "\f173";
    display: inline-block;
    background: #3A4442;
    font-size: 23px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255,255,255,.5);

}

.fa-rss:before{
    content: "\f09e";
    display: inline-block;
    background: #3A4442;
    font-size: 23px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(255,255,255,.5);

}