@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif !important;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1;
}

.wrapper-header{
    background: url(./images/banner.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 160px 0 ;
}

.header-container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.header-logo{
    margin-bottom: 48px;
}

.b-logo{
    font-size: 64px;
    font-weight: 900;
    color: #323338;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.s-logo{
    display: block;
    padding-top: 19.2px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 19.2px;
    color: #8e8588;
    font-weight: 100;
}

.header-nav{
}

.nav-items{
    display: flex;
    justify-content: center;
}

.nav-item{
    font-size: 16px;
    font-weight: 200;
    color: #323338;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 24px;
    outline: 0;
    display: block;
}

.action-item{
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 24px;
    outline: 0;
    background: #323338;
    color: #fff;
    border-radius: 4px;
    display: block;
}

.nav-item:hover{
    color: #fff;
}

.wrapper-main{
    overflow:hidden;
    padding: 80px 0;
    background: #fff;
}

.main-container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.row{
    /*待詢問為什麼設-50px*/
    margin-left: -50px;
    display: flex;
}

.main-left{
    padding-left: 50px;
    width: 25%;
    display: inline-block;
}

.main-left-sidebar{
    padding: 0px;
}

.main-left-header{
    margin-bottom: 40px;
}

.left-header-logo{
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    color: #323338;
}

.left-style{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.left-style-first{
    padding: 0px 0px 25px 0px;
    border-top: none;
}

.left-style-other{
    padding: 20px 0px 25px 0px;
    border-top: 1px solid #E7E5DA;
}

.left-date{
    display: inline-block;
    margin: 0px 0px 20px 0px;
    padding: 14px 14px;
    background: #323338;
    border-radius: 4px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.left-date-a{
    font-weight: 100;
    color: #FFFFFF;
    text-decoration: none;
}

.left-date-des{
    margin-bottom: 24px;
}

.left-date-des-a{
    font-size: 16px;
    font-weight: 100;
    display: block;
    text-decoration: none;
    color: #525252;
    line-height: 180%;
}

.main-center{
    width: 50%;
    padding-left: 50px;
}

.main-center-header{
    margin-bottom: 32px;
}

.main-center-logo{
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.main-right{
    width: 25%;
    padding-left: 50px;
}

.main-right-header{
    margin-bottom: 40px;
}

.right-header-logo{
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    color: #323338;
    margin-bottom: 40px;
}

.main-center-des{
    font-size: 16px;
    font-weight: 100;
    line-height: 180%;
    margin-bottom: 24px;
    color: #8A8A8A;
}

.strong-text{
    font-weight: 700;
    color: #000;
}

.main-center-a{
    color: #D1551F;
}

.main-center-button{
    position: relative;
    display: inline-block;
    margin-top: 32.5px;
    padding: 17.6px 26.4px;
    background: #323338;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17.6px;
    color: #FFF;
}

.right-style{
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #8A8A8A;
}

.right-style-first{
    border-top: none;
    padding-top: 0px;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 100;
}

.right-style-other{
    display: inline-block;
    padding: 16px 0px;
    border-top: 1px solid #E6E6E6;
    line-height: 160%;
    font-size: 16px;
    font-weight: 100;
}

.fa:before{
    font-size: 20px;
    margin-right: 12px;
    font-family: FontAwesome;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
}
.fa-check:before {
    content: "\f00c";
}

.wrapper-footer{
    padding: 80px 0;
    background: #f3f2ed;
}

.footer-container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.footer-center-logo{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #323338;
}

.footer-img{
    width: 100%;
}

.footer-left-style {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #525252;
}

.copyright{
    position: relative;
    text-align: center;
    background: #f3f2ed;
    color: #8A8A8A;
}

.copyright-container{
    font-size: 16px;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 48px 0px;
    border-top: 1px solid;
    border-color: rgba(0,0,0,.1);
}

.copyright-a{
    text-decoration: none;
    color: #D1551F;
}


