@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    /*以下為字體差異造成寬度不同*/
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
}

.main{
    background: #f1f1f1;
    width: 100%;
}

.banner{
    display:flex;
    background: #000;
    position: relative;
    /*以下為顯示背景圖示*/
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 75vh;
    height: 75vh;
    /******************/
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.banner:before{
    content: '';
    transition-delay: 0.25s;
    display: block;
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    opacity: 0.65;
}

.banner-inner{
    transform: none;
    position: relative;
    opacity: 1;
    z-index: 3;
    padding: 0 29.333px;
}
.banner-inner h1{
    padding: 0;
    margin: 0 0 29.333px 0;
    font-size: 58.6677px;
    line-height: 58.6667px;
    color: #fff;
    font-weight: 700;
}
.banner-inner p{
    font-size: 22px;
    margin-bottom: 38.5px;
}
.banner-inner a{
    color:#fff;
    text-decoration: none;
}

.action{
    list-style: none;
    padding-left: 0;
    cursor: default;
    margin: 0 0 29.333px 0
}

.button{
    font-size: 19.8px;
    padding: 0 39.6px;
    box-shadow: 0 0 0 2px rgba(144, 144, 144, 0.25);
    border-radius: 4px;
    font-weight: 700;
    height: 56.4129px;
    line-height: 58.41px;
    display: inline-block;
}

.gallery{
    padding: 51.3333px;
}

.gallery-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-header h2{
    font-size: 25.666px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 25.666px 0;
}

.gallery-contant{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gallery-contant-media{
    position: relative;
    width: 25%;
    overflow: hidden;
}

.gallery-contant-media img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
}
.gallery-contant-media img:hover{
    /*改變圖片大小,搭配transition*/
    transform: scale(1.1);
}

.gallery-footer{
    margin-top: 58.667px;
    text-align: center;
}

.gallery-footer-button{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    font-size: 19.8px;
    background: #19B5FE;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 56.4219px;
    line-height: 58.41px;
    padding: 0 39.6px;
    text-align: center;
    white-space: nowrap;
}